@charset "UTF-8";

html {
    overflow-y: scroll;
}


/* リセットCSSの記述です。コピペしていただいて構いません。----- */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
}

li {
    list-style: none;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

img {
    border: 0px;
    vertical-align: bottom;
}

/* --------------------------------------------------- */

/* フォントの指定です。コピペしていただいて構いません。 */
body {
    font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
}



nav {
    height: 60px;
    width: 100%;
    background-color: #eeeaec;
    text-align: center;
    position: fixed;
}

ul {
    width: 800px;
    margin: 0 auto;
    display: flex;
}

li {
    color: #acacac;
    width: 25%;
    line-height: 60px;
    transition: 0.2s;
    /* 使い方が分からないCSSプロパティはその都度検索していきましょう ! ! */
}

li:hover {
    color: #111;
}

#btn {
    text-align: center;
    background-color: violet;

}

#btn1 {
    text-align: center;
    background-color: rgb(246, 250, 30);
}



.gNav-menu {
    display: flex;
    width: 100%;
    /* display: none; */
    background-color: rgb(245, 9, 233);

}

.gNav-menu1 {
    /* display: flex; */
    width: 100%;
    display: none;
    background-color: rgb(26, 25, 26);

}





section {
    text-align: center;
    padding: 100px 0;

}

section h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 80px 0;
    font-weight: 200;
}

.box {
    max-width: 1200px;
    margin: 0 auto;

}

#sec1 {
    background-image: url(../img/photo_01.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 400px;
    background-size: cover;
}

#sec1 h1 {
    font-size: 55px;
    color: #fff;
    padding-top: 200px;
}

#sec1 h1 br {
    display: none;
}

#sec2 .flex_area {
    display: flex;
    /* white-space: nowrap; */
}

#sec2 .flex_area div h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

#sec2 .flex_area div p {
    /* display: flex; */
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 14px;
    margin: 10%;
    text-align: left;
    background-color: rebeccapurple;
    /* white-space: nowrap; */
}

.width {
    width: 33%;

}



#sec3 {
    background-image: url(../img/photo_02.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#sec3 p {
    font-size: 16px;
    line-height: 2;
    margin: 16px;
}

#sec4 p {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 15px;
}

#sec4 .port .portfolio {
    width: 90%;
    margin: 40px auto;
    text-align: right;
    display: flex;
}

#image1 {

    transition: all 500ms 0s ease;
}

.on {
    transform: scale(2.0, 2.0) translate(80px, 80px);
}

.off {
    transform: scale(1.0, 1.0) translate(0px, 0px);
}

#sec4 .port .portfolio img {
    width: 100%;
}

.button {
    /* background-color: tomato; */
    display: flex;
    padding: 0 0 0 0%;


}

#sec4 .port .portfolio p {
    font-size: 10px;
    padding-top: 20%;
    text-align: center;
    display: flex;
    /* background-color: tomato; */
    list-style-type: 2;


}

#sec4 .port .portfolio p.port_title {
    text-align: center;
    font-size: 20px;
}

footer {
    height: 80px;
    background-color: #eeeaec;
    width: 100%;
}

footer .copyright {
    color: #acacac;
    font-family: 12px;
    padding-top: 30px;
    letter-spacing: 1px;
}

/* 課題１.余白を開けよう */
.flex_area_item {
    padding: 20px;
    /* 課題3. flexのエリアのpの中身が消えると3つ並びの割合が崩れるので、テキストが消えても崩れないように修正*/
    width: 33.3%;
}


.portfolio_textblock {
    /* 課題4. 制作実績の画像と文字のバランスが悪いのでテキストの位置を修正    */
    display: flex;
    align-items: center;
    padding: 0 80px 0 80px;
}

/* 課題4. その他の解答 制作実績の画像と文字のバランスが悪いのでテキストの位置を修正   */
#sec4 .port p.portfolio_text {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
}